{% extends "base/base.html" %}

{% block title %}歌手详情 - {{singer.name}}{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <div class="container">
            <a href="/">首页</a> &gt; <a href="/all_singers">所有歌手</a> &gt; <span>歌手详情</span>
        </div>
    </div>

    <main class="main-content container">
        <div class="artist-main-content">
            <header class="artist-header">
                <img src="{{singer.image}}" alt="歌手照片" class="artist-photo">
                <div class="artist-info">
                    <h1 class="artist-name"><a href="{{singer.url}}">{{singer.name}}</a></h1>
                    <div class="artist-intro-wrapper">
                        <p class="artist-intro">
                            {{ singer.profile|linebreaksbr }}
                        </p>
                        <button class="toggle-button" style="display: none;">阅读更多</button>
                    </div>
                </div>
            </header>

            <section class="artist-songs">
                <h2>所有歌曲</h2>
                <ul class="song-list">
                    {% for song in song_list_page %}
                        <a href="{% url 'song_page' song_id=song.song_id %}" class="top-work-card">
                            <img src="{{song.cover}}" alt="歌曲封面">
                            <span><h3>{{song.name}}</h3></span>
                        </a>
                    {% empty %}
                        <li>暂无歌曲</li>
                    {% endfor %}
                </ul>

                {% if song_list_page.has_other_pages %}
                    {% include 'partials/_pagination.html' with page_obj=song_list_page prefix="" %}
                {% endif %}
            </section>
        </div>

        <aside class="sidebar">
            <div class="sidebar-widget">
                <h3><i class="fas fa-star"></i> 代表作</h3>
                <div class="top-works-list">
                    {% for song in song_list_same %}
                        <a href="{% url 'song_page' song_id=song.song_id %}" class="top-work-card">
                            <img src="{{song.cover}}" alt="歌曲封面">
                            <span>{{song.name}}</span>
                        </a>
                    {% empty %}
                        <li>暂无歌曲</li>
                    {% endfor %}
                </div>
            </div>

            <div class="sidebar-widget">
                <h3><i class="fas fa-user-friends"></i> 推荐歌手</h3>
                <div class="artist-list">
                    {% for singer in singer_list_random %}
                        <div class="artist-card">
                            <a href="{% url 'singer_page' singer_id=singer.singer_id %}">
                                <img src="{{singer.image}}" alt="歌手头像">
                                <span class="artist-name">{{singer.name}}</span>
                            </a>
                        </div>
                    {% empty %}
                        <li>暂无歌手</li>
                    {% endfor %}
                </div>
            </div>
        </aside>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const intro = document.querySelector('.artist-intro');
            const toggleButton = document.querySelector('.toggle-button');
            const maxHeight = 16 * 1.7 * 6  ;

            if (intro.scrollHeight > maxHeight) {
                toggleButton.style.display = 'inline-block';
                intro.classList.add('collapsed');
            } else {
                return;
            }

            toggleButton.addEventListener('click', function() {
                if (intro.classList.contains('collapsed')) {
                    intro.classList.remove('collapsed');
                    intro.classList.add('expanded');
                    this.textContent = '收起';
                } else {
                    intro.classList.remove('expanded');
                    intro.classList.add('collapsed');
                    this.textContent = '阅读更多';
                }
            });
        });
    </script>
{% endblock %}