{% extends "base/base.html" %}

{% block title %}音乐首页 - MyMusic{% endblock %}

{% block content %}
    <main class="main-content container">
        <section class="recommended-songs">
            <h2><i class="fas fa-random"></i> 推荐歌曲</h2>
            <div class="song-grid">
                {% for song in song_list %}
                    <div class="song-card">
                        <a href="{% url 'song_page' song_id=song.song_id %}">
                            <img src="{{song.cover}}" alt="专辑封面">
                            <h3 class="song-title">{{song.name}}</h3>
                        </a>
                        <p class="song-artist"><a href="{% url 'singer_page' singer_id=song.singer.id %}">{{song.singer.name}}</a></p>
                    </div>
                {% empty %}
                    <li>暂无音乐</li>
                {% endfor %}
            </div>
        </section>

        <aside class="recommended-artists">
            <h2><i class="fas fa-user-friends"></i> 推荐歌手</h2>
            <div class="artist-list">
                {% for singer in singer_list %}
                    <div class="artist-card">
                        <a href="{% url 'singer_page' singer_id=singer.singer_id %}">
                            <img src="{{singer.image}}" alt="歌手头像">
                            <span class="artist-name">{{singer.name}}</span>
                        </a>
                    </div>
                {% empty %}
                    <li>暂无歌手</li>
                {% endfor %}
            </div>
        </aside>
    </main>
{% endblock %}